body {
	background-color: #eaeaea;
}

.container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px; 
}

#search{
	background-color: #f2f2f2;
	padding : 8px;
	padding-top: 20px;
	
}

#alerts{
	position: absolute;
	top: 0px;
	margin-top:4px;
	width: 100%;
}

.header {
	float: left;
	width: 60%;
	color: #f62;
	font-size: 28px;
	font-weight: bold;
	text-align: bottom;
}

.but {
	width: 100px;
	float:right;
	margin-bottom: 8px;
	margin-left:8px;
}

.input-group{
	width: 100%;
	margin-bottom: 16px;
}

.tokenfield {
	width: 100%;
}

#content {
	margin: 8px;
}

table {
	background-color: #ffffff;
	border: 1px solid #ddd;
}

tr {
	border: 1px solid #ddd;
}

td {
	border: 1px solid #ddd;
}

.bs-example {
	position: relative;
	background-color: #f6f6f6;
	padding: 15px 15px 15px;
	margin: 15px -15px 15px;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}