doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/style/bootstrap.min.css')
    link(rel='stylesheet', href='/style/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/style/bootstrap-tokenfield.min.css')
    link(rel='stylesheet', href='/style/tokenfield-typeahead.min.css')
    link(rel='stylesheet', href='/style/style.css')
    script(src="/script/jquery-1.11.1.min.js")
    script(src="/script/bootstrap-tokenfield.min.js")
    script(src="/script/bootstrap.min.js")
    script(src="/script/rekords.js")
  body
    .container
      block content
    