extend layout
block content
  #alerts
  #search
    .input-group
      .header Discogs2Rekords v1.1.0
      button.btn.btn-xl.btn-default.but#tetris(type="button") Tetris
      button.btn.btn-xl.btn-danger.but#clear(type="button") Clear
      button.btn.btn-xl.btn-primary.but#markall(type="button") Mark all
      .tokenfield.form-control(type="text", value="")
  #content
    table.table
      tbody#rekords
  #rekords-images

  <script type="text/javascript">document.write('<iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:10px;z-index:100" frameBorder="0"></iframe>');</script>
